<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title or metadata.title | safe }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="generator" content="{{ site.generator }}" />
    <meta name="title" content="{{ title or metadata.title | safe }}" />
    <meta name="description" content="{{ description or metadata.description }}" />
    <meta name="pinterest" content="nopin" />
    <meta name="author" content="{{ metadata.author.name }}" />
    <link rel="canonical" href="{{ metadata.url }}{{ page.url }}">
    {% set css %}
      {% include "critical.css" %}
    {% endset %}
    <style type="text/css">
      {{ css | cssmin | safe }}
    </style>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/aos.min.css">
    <meta property="og:title" content="{{ title or metadata.title | safe }}" />
    <meta property="og:description" content="{{ description or metadata.description }}" />
    <meta property="og:site_name" content="{{ title or metadata.title | safe }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="{{ title or metadata.title | safe }}" />
    <meta property="twitter:description" content="{{ description or metadata.description }}" />
    <meta property="twitter:url" content="{{ metadata.url }}{{ page.url }}" />
    <meta property="og:image" content="{{ metadata.url }}/img/{{ metadata.images.social_card_img }}" />
    <link rel="apple-touch-icon" href="/img/{{ metadata.images.apple_touch_icon }}" sizes="180x180">
    <link rel="icon" href="/img/{{ metadata.images.32x32_icon }}" sizes="32x32" type="image/png">
    <link rel="icon" href="/img/{{ metadata.images.16x16_icon }}" sizes="16x16" type="image/png">
    <link rel="shortcut icon" href="/img/{{ metadata.images.favicon }}" type="image/x-icon">
    <link rel="me" href="mailto:dezmarie@gmail.com">
    <link rel="me" href="{{ metadata.author.twitter }}">
    <link rel="me" href="{{ metadata.author.linkedin }}">
    <link rel="me" href="{{ metadata.author.dribbble }}">
    <link rel="me" href="{{ metadata.author.github }}">
  </head>
  <body>
    <div class="wrapper">
      <a href="#content" class="link--focus-only">Skip to content</a>
      <div class="container">
        <header class="grid" aria-label="Main navigation">
          <div class="brand">
            <a rel="me" href="{{ '/' | url }}" title="Home">
              <img width="219" height="25" alt="{{ metadata.brand }}" src="/img/logo_full.svg" />
            </a>
          </div>
          <nav>
            {% set navPages = collections.all | eleventyNavigation %}
            <ul class="grid list--plain">
            {%- for entry in navPages %}
              <li{% if entry.url in page.url %} class="grid__item active strong"{% endif %}>
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              </li>
            {%- endfor %}
            </ul>
          </nav>
        </header>
        <main{% if templateClass %} class="{{ templateClass }}"{% endif %} id="content" aria-label="Main content">
          {{ content | safe }}
        </main>
      </div>
      <footer role="contentinfo" aria-label="Copyright info">
        <div class="container text--centered">
          <p>&copy; {{ site.buildTime | year }} {{ metadata.author.name }}</p>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="/js/scripts.js"></script>
  </body>
</html>
