html {
  overscroll-behavior: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

aside h3 {
  margin: 0;
  text-transform: uppercase;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 77.25rem;
  margin: 0 auto;
  position: relative;
}

.list--plain {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
}

.grid__item--2 {
  grid-row: 2;
  grid-column: col-start / span 12;
}

.grid__item--1 {
  grid-row: 1;
  grid-column: col-start / span 12;
}

.flex {
  display: flex;
}

.flex--end {
  justify-content: flex-end;
}

header .grid {
  justify-content: start;
  grid-auto-flow: column;
}

header .grid__item {
  margin-bottom: 0;
}

.brand {
  height: 25px;
}

.brand img {
  width: auto;
}

.wrapper--rounded {
  width: 100%;
  display: block;
  overflow: hidden;
}

.wrapper--rounded img {
  border-radius: 100%;
  max-width: 9rem;
}

.link--focus-only:not(:focus) {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 0;
  height: auto;
  white-space: nowrap;
}

.link--focus-only:focus {
  width: auto;
  display: inline-block;
  position: relative;
  outline-width: 2px;
}

.link__arrow,
.link__arrow:after {
  display: inline-block;
}

.grid__item__link {
  position: relative;
  display: block;
  height: 100%;
  background-color: #ffffff;
  transform: translate3D(0, 0, 0);
}

.grid__item__link {
  text-decoration: none;
  border-bottom-width: 0;
}

.grid__item__link h5 {
  margin-top: 0;
}

.grid__item__link p {
  margin: 0;
}

.grid__item__image {
  position: relative;
}

.grid__item__image picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.grid__item__image img {
  width: auto;
}

#progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 5px;
  overflow: hidden;
}

.slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  grid-template-rows: 1fr auto;
  row-gap: 1rem;
  grid-template-areas:
    "slider-panels"
    "slider-filmstrip";
}

.slider__filmstrip {
  grid-area: slider-filmstrip;
  overflow-x: scroll;
  overflow-y: visible;
  -ms-scroll-snap-type: x proximity;
  scroll-snap-type: x proximity;
}

.slider__navigation {
  width: 100%;
}

.slider__navigation button {
  position: absolute;
  z-index: 3;
  top: 30%;
  transform: translateY(-30%);
  appearance: none;
  border: 0 none;
  cursor: pointer;
}

.slider__navigation button:before {
  position: relative;
  transform: rotate(45deg);
  content: "";
  display: inline-block;
}

.slider__navigation #previous:before {
  transform: rotate(-135deg);
  left: 25%;
}

.slider__navigation #next {
  right: 0;
}

.slider__navigation #next:before {
  right: 25%;
}

.slider__tabs {
  z-index: 2;
  flex-wrap: nowrap;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.slider__tabs li {
  margin: 0;
}

.slider__tab {
  display: flex;
  white-space: nowrap;
  border-bottom: 0.125rem solid transparent;
  opacity: 0.6;
}

.slider__tab:focus {
  outline: none;
  border-width: 0;
}

.slider__tab picture {
  max-width: 6rem;
  pointer-events: none;
}

.slider__panels {
  grid-area: slider-panels;
}

.slider__panel picture {
  width: 100%;
}

.form__wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.decorative img {
  z-index: 6;
  object-fit: cover;
  position: relative;
}

.tsparticles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  vertical-align: bottom;
}

[id="skybox"] {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (min-width: 600px) {
  header {
    align-items: center;
    grid-auto-flow: column;
  }

  header .grid {
    justify-content: end;
  }

  .slider__navigation button {
    top: 45%;
    transform: translateY(-45%);
  }
}

@media screen and (min-width: 700px) {
  .grid__item--2,
  .grid__item--1 {
    grid-row: 1;
  }

  .grid__item--2 {
    grid-column: col-start / span 6;
  }

  .grid__item--1 {
    grid-column: col-start 9 / span 6;
  }

  .wrapper--rounded img {
    max-width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .grid--3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid__item--2 {
    grid-column: col-start / span 6;
  }

  .grid__item--1 {
    grid-column: col-start 7 / span 6;
  }
}

@media screen and (min-width: 1000px) {
  .grid--3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
