{% for post in postlist %}
  {% if loop.first %}<ul class="plain-list grid">{% endif %}
    <li class="grid-item">
      <a href="/posts/{{ post.slug }}" class="grid-item-link">
        <div>
          <div class="grid-item-image" style="background-color: {{ post.coverImg.responsiveImage.bgColor }};">
            <picture>
              <source srcset="{{ post.coverImg.responsiveImage.srcSet }}">
              <img src="{{ post.coverImg.responsiveImage.src }} " alt="{{ post.coverImg.alt }}" style="width: auto;" lazy="true">
            </picture>
          </div>
          <div class="grid-item-description">
            <h5>{{ post.title }}</h5>
            <p>{{ post.seoMeta.description }}</p>
          </div>
        </div>
      </a>
    </li>
  {% if loop.last %}</ul>{% endif %}
{% endfor %}
