{% for project in projectlist %}
  {% if loop.first %}<ul class="plain-list grid">{% endif %}
    <li class="grid-item">
      <a href="/projects/{{ project.slug }}" class="grid-item-link">
        <div>
          <div class="grid-item-image" style="background-color: {{ project.coverImg.responsiveImage.bgColor }};">
            <picture>
              <source srcset="{{ project.coverImg.responsiveImage.srcSet }}">
              <img src="{{ project.coverImg.responsiveImage.src }} " alt="{{ project.coverImg.alt }}" lazy="true">
            </picture>
          </div>
          <div class="grid-item-description">
            <h5>{{ project.title }}</h5>
            <p>{{ project.seoMeta.description }}</p>
          </div>
        </div>
      </a>
    </li>
  {% if loop.last %}</ul>{% endif %}
{% endfor %}
