{% for project in projectlist %}
  {% if loop.first %}<ul class="list--plain grid grid--3">{% endif %}
    <li class="grid__item">
      <a {% if project.categories[0] == 'private' %}href="/projects/private/{{ project.slug }}"{% else %}href="/projects/{{ project.slug }}"{% endif %} class="grid__item__link" data-aos="fade-in">
        <div class="grid__item__content">
          <div class="grid__item__image" style="background-image: url({{ project.coverImg.responsiveImage.base64 }}); background-size: cover; padding-top: {{ 100.0 / project.coverImg.responsiveImage.aspectRatio }}%;">
            <picture>
              <source srcset="{{ project.coverImg.responsiveImage.webpSrcSet }}" type="image/webp">
              <source srcset="{{ project.coverImg.responsiveImage.srcSet }}">
              <img src="{{ project.coverImg.responsiveImage.src }}" alt="{{ project.coverImg.responsiveImage.alt }}" width="{{ project.coverImg.responsiveImage.width }}" height="{{ project.coverImg.responsiveImage.height }}" loading="lazy">
            </picture>
          </div>
          <div class="grid__item__description">
            <h5>
              {{ project.title }}
              {% if project.private === true %}
                <span>(Locked)</span>
              {% endif %}
            </h5>
            <p>{{ project.seoMeta.description }}</p>
          </div>
        </div>
      </a>
    </li>
  {% if loop.last %}</ul>{% endif %}
{% endfor %}
