---
layout: base.njk
templateClass: tmpl-page
title: Login
permalink: /login/
---

<div class="form__wrapper">
  <h1>Log in</h1>
  <div>
    <form action="/.netlify/functions/login" method="POST" class="flex">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <button type="submit">Get access</button>
    </form>
  </div>
</div>
