---
layout: base.njk
templateClass: tmpl-page
title: Log in
permalink: /login/
---

<div class="grid grid--form" data-aos="fade-in">
  <div class="flex decorative">
    <div id="glitter"></div>
    <img width="1440" height="1024" alt="" src="/img/crystal_ball.svg" />
  </div>
  <div class="flex form__wrapper">
    <h1>Log in</h1>
    <div>
      <form action="/.netlify/functions/login" method="POST" class="flex">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
        <button type="submit">Get access</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/particles-glitter.js"></script>
