---
layout: base.njk
templateClass: tmpl-page
title: Posts
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 1
---

<h1 data-aos="fade-in">{{ title }}</h1>
<p data-aos="fade-in">Welcome to my blog! I write primarily about troubleshooting front-end issues, and sometimes I write tutorials. Please <a href="/contact">get in touch</a> if you spot an issue in a tutorial!</p>

{% set postlist = cms.allPosts %}
{% include 'postlist.njk' %}
