.link__arrow {
  position: relative;

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &.link__arrow--right {
    padding-right: var(--space-2xs);

    &:after {
      right: 0;
      transform: rotate(45deg);
    }
  }

  &.link__arrow--left {
    padding-left: var(--space-2xs);

    &:after {
      left: 0;
      transform: rotate(-135deg);
    }
  }
}

.link__arrow:after {
  width: 0.4em;
  height: 0.4em;
}

.link__arrow--right:after {
  border-right: 0.125rem solid var(--color-link-underline);
  border-top: 0.125rem solid var(--color-link-underline);
}

.link__arrow--left:after {
  border-right: 0.125rem solid var(--color-link-underline);
  border-top: 0.125rem solid var(--color-link-underline);
}

#progress {
  will-change: width;
  background-image: linear-gradient(
    45deg,
    var(--color-note) 50%,
    var(--color-link-underline) 100%
  );
  background-color: var(--color-note);
  transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
