body {
  background-color: var(--color-background);
}

figure {
  margin: var(--space-m) 0;
}

main {
  padding: var(--space-m-l) 0;
}

article {
  margin: 0 0 var(--space-s-m);
}

.wrapper {
  padding: var(--space-s-m);
}

.wrapper--rounded {
  margin-bottom: var(--space-m-l);
}

.link--focus-only:focus {
  padding: var(--space-3xs) var(--space-xs);
  margin: 0 0 var(--space-s-m);
}

.grid--3 {
  margin: 0 calc(var(--space-m-l) * -1);

  .grid__item {
    margin: var(--space-s-m) var(--space-m-l) var(--space-m-l);
  }
}

.grid--aside {
  margin: var(--space-xl) 0;

  aside {
    background-color: var(--color-code);
    padding: var(--space-m);
    order: 2;
  }
}

header {
  .grid {
    margin: var(--space-xs) 0;
    grid-column-gap: var(--space-xs);
  }
}

.brand {
  margin: var(--space-s) 0;
}

.grid__item__link {
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translate3D(0, -8px, 0);
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
  }

  * {
    color: var(--color-body);
  }
}

.grid__item__image {
  background-color: var(--color-background);
}

.grid__item__description {
  padding: var(--space-s);
}

.project__cover picture {
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
    height: auto;
    width: 100%;
  }
}

.project__body {
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .grid__item--2 {
    padding-right: var(--space-2xl);
  }
}

@media screen and (min-width: 800px) {
  .grid--aside {
    grid-template-columns: 1fr calc(var(--space-3xl) * 3);
  }

  .grid--aside aside {
    padding: var(--space-m);
  }
}
