body {
  background-color: var(--color-background);
}

figure {
  margin: var(--space-m) 0;
}

main {
  padding: var(--space-xl) 0;
}

article {
  margin: 0 0 var(--space-s-m);
}

.wrapper {
  padding: var(--space-s) var(--space-s-m);
}

.wrapper--rounded {
  margin-bottom: var(--space-m-l);
}

.link--focus-only:focus {
  padding: var(--space-3xs) var(--space-xs);
  margin: 0 0 var(--space-s-m);
}

.grid--3 {
  margin: 0 calc(var(--space-s) * -1);

  .grid__item {
    margin: var(--space-s);
  }
}

.grid--aside {
  margin: var(--space-xl) 0;

  aside {
    background-color: var(--color-code);
    padding: var(--space-m);
    order: 2;
  }
}

header {
  .grid {
    margin: var(--space-xs) 0;
    grid-column-gap: var(--space-xs);
  }
}

.brand {
  margin: var(--space-s) 0;
}

.grid__item__link {
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translate3D(0, -8px, 0);
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
  }

  * {
    color: var(--color-body);
  }
}

.grid__item__image {
  background-color: var(--color-background);
}

.grid__item__description {
  padding: var(--space-s);
}

.project__cover picture {
  width: 100%;
  height: 100%;

  img {
    object-fit: contain;
    height: auto;
    width: 100%;
  }
}

.project__body {
  max-width: 900px;
  margin: 0 auto;
}

.form__wrapper {
  padding: var(--space-m);
}

.decorative {
  margin-bottom: var(--space-l);

  .tsparticles-canvas-el {
    position: absolute !important;
  }

  img {
    z-index: 6;
  }
}

.grid--form {
  background-color: var(--color-code);
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);

  .decorative {
    background-color: var(--color-body);
    min-height: calc(var(--space-xl) * 3);
    max-height: 370px;
    margin-bottom: 0;

    img {
      object-fit: cover;
    }
  }
}

.grid__item--1 {
  [id="8ball"] {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-background);
  }

  [id="skybox"] {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-background);
    background-color: var(--color-body);
  }
}

@media screen and (min-width: 700px) {
  .grid__item--2 {
    padding-right: var(--space-xl);
  }
}

@media screen and (min-width: 800px) {
  .grid--aside {
    grid-template-columns: 1fr calc(var(--space-3xl) * 3);

    aside {
      padding: var(--space-m);
    }
  }
}

@media screen and (min-width: 900px) {
  .grid--form {
    grid-template-columns: calc(var(--space-3xl) * 3) 1fr;
    min-height: 60vh;

    .decorative {
      order: 2;
      max-height: 570px;
    }
  }
}
