.slider {
  margin: var(--space-2xl) 0;
}

.slider__navigation button {
  width: var(--space-m-l);
  height: var(--space-m-l);
}

.slider__navigation button span:before {
  width: var(--space-2xs);
  height: var(--space-2xs);
  border-right: 0.125rem solid var(--color-code);
  border-top: 0.125rem solid var(--color-code);
}

.slider__tab--active,
.slider__tab--active:focus {
  opacity: 1;
  border-bottom: 0.125rem solid var(--color-link-underline);
}
