// Styles
:root {
  --color-body: rgba(36, 5, 102, 1);
  --color-link: #7d07f2;
  --color-link-underline: #aa86f8;
  --color-link-focus: rgba(170, 134, 248, 0.1);
  --color-note: #23d9b7;
  --color-background: #f7f3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; // 16px
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.75;
  color: var(--color-body);
  background-color: var(--color-background);
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: all 0.3s ease-out;

  &:focus {
    outline: 1px solid var(--color-link);
    outline-offset: 2px;
  }
}

ul,
ol {
  margin-top: 0.75rem;
  margin-left: 1rem;
  margin-bottom: 2.75rem;
  list-style-position: outside;

  li {
    margin-bottom: 0.75rem;
  }

  li::marker {
    color: var(--color-link-underline);
  }
}

.plain-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-wrapper {
  position: relative;
  overflow-x: hidden;
  padding: 2rem;
}

.width-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

header {
  .brand {
    height: 25px;
  }

  .brand img {
    height: 100%;
    width: auto;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 1rem 0;
    padding: 0;
  }

  li:not(:first-child) {
    margin-bottom: 0;
    margin-left: 1rem;
  }

  a {
    color: var(--color-body);
  }

  .active a {
    font-weight: bold;
    border-bottom: 2px solid var(--color-link-underline);
  }
}

main {
  padding: 3rem 0;
}

article {
  max-width: 860px;
}

.rounded {
  display: block;
  border-radius: 100%;
  overflow: hidden;
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 2rem;
}

.grid-section {
  display: flex;
  flex-direction: column-reverse;

  h2 {
    margin-top: 0;
  }
}

.glowing {
  position: relative;
}

.glowing:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 440px;
  height: 440px;
  border-radius: 15rem;
  background: radial-gradient(
      105.68% 45.69% at 92.95% 50%,
      rgba(105, 244, 253, 0.5) 0%,
      rgba(160, 255, 244, 0.095) 53.91%,
      rgba(254, 216, 255, 0) 100%
    ),
    radial-gradient(
      103.18% 103.18% at 90.11% 102.39%,
      #c9fff2 0%,
      rgba(230, 255, 250, 0) 100%
    ),
    radial-gradient(
      90.45% 90.45% at 87.84% 9.55%,
      #ffd2f5 0%,
      rgba(254, 219, 246, 0) 100%
    ),
    linear-gradient(
      135.66deg,
      rgba(203, 185, 255, 0.8) 14.89%,
      rgba(216, 202, 254, 0) 74.33%
    );
  background-blend-mode: normal, normal, normal, normal, normal, normal;
  filter: blur(50px);
}

/* Typography - Major Third 1.250 */

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

/* Responsive Type Scaling */
@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.746rem;
  }
  h2 {
    font-size: 2.197rem;
  }
  h3 {
    font-size: 1.758rem;
  }
  h4 {
    font-size: 1.406rem;
  }
  h5 {
    font-size: 1.125rem;
  }
}

strong,
.text_strong {
  font-weight: 700;
}

small,
.text_small {
  font-size: 0.8rem;
}

.arrow-wrapper {
  display: flex;
  justify-content: end;
}

.directional-arrow {
  display: inline-block;

  &.right {
    padding-right: 0.25rem;

    &::after {
      position: relative;
      top: -0.125rem;
      content: "";
      display: inline-block;
      width: 0.4em;
      height: 0.4em;
      border-right: 0.125rem solid var(--color-link-underline);
      border-top: 0.125rem solid var(--color-link-underline);
      transform: rotate(45deg);
      margin-left: 0.25rem;
    }
  }
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

// Navigation
.skip {
  &:not(:focus) {
    position: absolute;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 0;
    height: auto;
    white-space: nowrap;
  }

  &:focus {
    width: auto;
    display: inline-block;
    position: relative;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    margin: 0 0 2rem;
    outline-width: 2px;
  }
}

main a:not(.directional-arrow):not(.postlist-link) {
  color: var(--color-body);
  text-decoration-line: underline;
  text-decoration-color: var(--color-link-underline);
  text-underline-offset: 0.3em;

  &:hover {
    text-decoration-color: var(--color-link);
  }

  &:focus {
    text-decoration: none;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  margin: 2rem -2.5rem 1rem;
}

.postlist-item {
  min-height: 100%;
  margin: 0.5rem 2.5rem 2rem;
}

.postlist-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--color-body);
  background-color: white;
  border-bottom-width: 0 !important;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in;
  top: 0;

  &:hover {
    top: -2px;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
  }

  p {
    margin: 0;
  }
}

.grid-description {
  margin: 2rem;

  h5 {
    margin-top: 0;
  }
}

.readable img {
  margin-top: 1.75rem;
  margin-bottom: 2.75rem;
  border-radius: 0.25rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 800px) {
  header {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .grid-section {
    flex-direction: row;
    gap: 4rem;
    align-items: center;

    div:first-child {
      flex: 1;
    }

    h2,
    p {
      max-width: 36rem;
    }
  }

  .rounded {
    max-width: 400px;
    max-height: 400px;
  }

  .grid {
    flex-direction: row;
    flex-wrap: wrap;

    li {
      flex-basis: 36ch;
    }
  }
}

pre {
  overflow: auto;
  overflow-x: scroll;
  overflow-wrap: normal;
  padding: 2rem;
  background-color: white;
  margin-bottom: 1rem;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.note {
  margin-top: 1.75rem;
  margin-bottom: 2.75rem;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0.125rem solid var(--color-note);

  strong {
    display: inline-block;
    padding: 0 0.75rem;
    background-color: var(--color-note);
    border-radius: 0.25rem;
    margin-right: 0.25rem;
  }
}
