---
layout: base.njk
templateClass: tmpl-page
title: About me
permalink: /about/
eleventyNavigation:
  key: About
  order: 3
---

<h1>{{ title }}</h1>

<section class="photo-section">
  <div class="text-content">
    <p>My friends call me Dez, and I'm based in the San Francisco Bay Area. Since 2010, I've been working in a mix of product design and front-end development at technology companies like Airkit, OneSignal, WP Engine, and Bazaarvoice.</p>

    <p>Right now I'm actively looking for opportunities in either Product Design or as a UI/UX developer. For a complete breakdown of my work experience, see <a href="{{ metadata.author.linkedin }}" rel="noopener" target="_blank">my LinkedIn profile</a>.</p>

    <p>I have too many hobbies 😅. Some that I’m actively pursuing are: playing Skyrim; making jewelry and other things out of resin; getting through my huge reading pile. If we ever get out of the pandemic, you'll find me in the nearest karaoke room.</p>

    <p>To see more of what I’ve been up to, <a href="{{ metadata.author.instagram }}" rel="noopener" target="_blank">follow me on Instagram</a>.</p>
  </div>
  <div class="photo-content rounded">
    <img src="{{ metadata.url }}/img/headshot2.jpg" alt="Photo of me sitting at my computer desk" loading="lazy" />
  </div>
</section>
