---
layout: base.njk
templateClass: tmpl-page
title: About me
permalink: /about/
eleventyNavigation:
  key: About
  order: 3
---

<h1>{{ title }}</h1>

<section class="readable">
  <p>My friends call me Dez, and I moved back to the San Francisco Bay Area from Austin, TX in 2019.</p>

  <p>My career in the past few years has been focused on a mix of mostly front-end development and product design. I love using ReactJS for everything that I can, and I’m trying to learn new things all the time (right now, TypeScript).</p>

  <p>I have too many hobbies 😅. Some that I’m actively pursuing are: playing Skyrim; making jewelry and other things out of resin; getting through my huge reading pile.</p>

  <p>To see more of what I’ve been up to, <a href="{{ metadata.author.instagram }}" rel="noopener" target="_blank">follow me on Instagram</a>.</p>
</section>
