---
layout: base.njk
---

<section>
  <header class="readable">
    <h1>Welcome! 👋</h1>
    <h2>I'm Dez, a UX designer and developer living in California.</h2>
  </header>

  <section>
    <p>Thanks for visiting me here. You can also find me on <a href="{{ metadata.author.twitter }}" target="_blank" rel="noopener">Twitter</a>, <a href="{{ metadata.author.linkedin }}" target="_blank" rel="noopener">LinkedIn</a>, <a href="{{ metadata.author.github }}" target="_blank" rel="noopener">GitHub, <a href="{{ metadata.author.dribbble }}" target="_blank" rel="noopener">Dribbble</a>, <a href="{{ metadata.author.instagram }}" target="_blank" rel="noopener">Instagram</a>, and <a href="{{ metadata.author.codepen }}" target="_blank" rel="noopener">CodePen</a>.</p>
  </section>

  <section>
    <h3>Latest projects</h3>
    {% set projectlist = cms.allProjects | limit(4) %}
    {% include 'projectlist.njk' %}
    <p><a href="/projects" class="directional-arrow right">See all projects</a></p>
  </section>


  <div class="decorated-divider">
    <css-doodle>
      <style>
        ::after {
          content: @repeat(500, _);
          color: transparent;
          font-size: 1rem;
          text-decoration: line-through wavy rgba(170, 134, 248, .25);
        }
      </style>
    </css-doodle>
  </div>

  <section>
    <h3>Latest posts</h3>
    {% set postlist = cms.allPosts | limit(4) %}
    {% include 'postlist.njk' %}
    <p><a href="/posts" class="directional-arrow right">See all posts</a></p>
  </section>
</section>
