---
layout: base.njk
---

{% set home = cms.home %}
<section id="intro" class="grid grid--2-1 glowing" aria-label="Welcome message">
  <div class="grid__item grid__item--2">
    {% set intro %}{% include './home/intro.md' %}{% endset %}
    {% markdown intro %}
  </div>
  <div class="grid__item grid__item--1 wrapper--rounded">
    <picture>
      <source srcset="{{ home.image.responsiveImage.webpSrcSet }}" type="image/webp">
      <source srcset="{{ home.image.responsiveImage.srcSet }}">
      <img src="{{ home.image.responsiveImage.src }}" alt="{{ home.image.responsiveImage.alt }}" width="{{ home.image.responsiveImage.width }}" height="{{ home.image.responsiveImage.height }}" loading="lazy">
    </picture>
  </div>
</section>

<section id="projects" aria-label="Latest projects">
  <h3>Latest projects</h3>
  {% set projectlist = cms.allProjects | limit(3) %}
  {% include 'projectlist.njk' %}
  <div class="flex flex--end">
    <a href="/projects" class="link__arrow link__arrow--right">See all projects</a>
  </div>
</section>

<section id="posts" aria-label="Latest blog posts">
  <h3>Latest posts</h3>
  {% set postlist = cms.allPosts | limit(3) %}
  {% include 'postlist.njk' %}
  <div class="flex flex--end">
    <a href="/posts" class="link__arrow link__arrow--right">See all posts</a>
  </div>
</section>
