---
layout: base.njk
templateClass: tmpl-page
title: Private projects
permalink: /projects/private/
---

<h1 data-aos="fade-in">Projects</h1>
<p data-aos="fade-in">Over the course of my career, I've worked within product, engineering, marketing, and client delivery teams. Below is just a sample of projects that I've launched while working for startups and mid-sized companies.</p>

{# Projects #}
{% set projectlist = cms.allProjects %}
{% include 'projectlist.njk' %}
