---
layout: base.njk
templateClass: tmpl-page
title: More work
permalink: /projects/private/
---

<h1 data-aos="fade-in">{{ title }}</h1>

{# Projects #}
{% set projectlist = cms.allProjects %}
{% include 'private-projectlist.njk' %}

<a href="/projects" class="link__arrow link__arrow--left">Back to main list</a>
